@model IEnumerable<Category> // To fetch what has been sent from the controller.
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
    <br /> <br />
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Category Name</th>
      <th scope="col">Display Order</th>
      <th scope="col">Created Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      @foreach(var obj in Model)
        {
            <tr class="table-active">
                <td>
                    @obj.Name
                </td>
                 <td>
                    @obj.DisplayOrder
                </td>
                <td>
                    @obj.CreatedDate
                </td>
                <td>
                    <div class="w-100 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-info mx-2">
                            <i class="bi bi-pencil-square"></i> &nbsp; Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-warning mx-2">
                            <i class="bi bi-trash"></i> &nbsp; Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>